<table class="table table-bordered table-inverse mt-5">
        <thead class="bg-primary thead-bordered">
                <tr>
                        <th class="text-center align-middle">
                                <h2>#</h2>
                        </th>
                        <th class="text-center align-middle">
                                <h2>Title</h2>
                        </th>
                        <th class="text-center align-middle">
                                <h2>Content</h2>
                        </th>
                        <th class="text-center align-middle">
                                <h2>Visible</h2>
                        </th>
                        <th class="text-center align-middle">
                                <h2>Update</h2>
                        </th>
                        <th class="text-center align-middle">
                                <h2>Delete</h2>
                        </th>

                </tr>
        </thead>
        <tbody>

                {{#each data}} {{#if this.visible}}
                <tr>
                        <td class="text-center align-middle">
                                <h4>1</h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>{{this.title}}</h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>{{this.fullContent}}</h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>{{#if this.visible}}T{{else}}F{{/if}}</h4>
                        </td>
                        <td class="text-center align-middle">
                                <a href="edit/{{this._id}}">
                                        <button class="btn btn-success">
                                                <h4>Update</h4>
                                        </button>
                                </a>
                        </td>
                        <td class="text-center align-middle">
                                <a href="edit/delete/{{this._id}}">
                                        <button class="btn btn-info">
                                                <h4>Delete</h4>
                                        </button>
                                </a>
                        </td>

                </tr>
                {{else}}
                <tr>
                        <td class="text-center align-middle">
                                <h4>
                                        <strike>1</strike>
                                </h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>
                                        <strike>{{this.title}}</strike>
                                </h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>
                                        <strike>{{this.fullContent}}</strike>
                                </h4>
                        </td>
                        <td class="text-center align-middle">
                                <h4>{{#if this.visible}}T{{else}}F{{/if}}</h4>
                        </td>
                        <td class="text-center align-middle">
                                <a href="edit/{{this._id}}">
                                        <button class="btn btn-danger">
                                                <h4>Update</h4>
                                        </button>
                                </a>
                        </td>
                        <td class="text-center align-middle">
                                <a href="edit/delete/{{this._id}}">
                                        <button class="btn btn-danger">
                                                <h4>Delete</h4>
                                        </button>
                                </a>
                        </td>

                </tr>
                {{/if}} {{/each}}

        </tbody>
</table>